
@{
    ViewBag.Title = "Testing";
}
<style>
    #mocha.dip-test .comment {
        color: forestgreen;
    }
</style>
<br />
<h3>
    @this.Html.ActionLink("All tests", "Index")
</h3>

<button id="toggle_all_outlining" type="button">
    Toggle all outlining
</button>

<p>
    <h3><small>The tests above are written in</small>TypeScript</h3>
</p>

<div id="mocha" class="dip-test"></div>

