
<h2>Home</h2>

<p>
    The <b>Angular.JsNetBridge</b> template was created from the <b><a target="_blank" href="https://visualstudiogallery.msdn.microsoft.com/48d928e3-9b5c-4faf-b46f-d6baa7d9886c">ng.Net</a></b> template of <b>Dahln Farnes</b><br />
    The goal is to show how to send ajax requests to the Web API without <b>hard coding</b> the URL using the <b><a target="_blank" href="https://www.nuget.org/packages/Diphap.JsNetBridge.Mvc/">Diphap.JsNetBridge.Mvc</a></b> library.<br />
    In addition, via intellisense, this library allows you to know the parameters to send and other meta-information on methods of action.<br />
    In fact, the library generates <b>JavaScript proxy objects</b> containing meta-information (url, parameters ...) while compiling the solution.
</p>

<br />

<p>
    Depending on your database setup, you may want to change your database connection string.  The default configuration for this template is this:
    <br />
    name="applicationDB" providername="System.Data.SqlClient" connectionstring="Server=.;Database=applicationDB;Integrated Security=True"
</p>

<strong>
    Most issues reported by users, are related to the database connection string.  This template was created with MS Sql 2014 Developer Edition.  It should be a simple matter for any developer to create a new connection string and replace the default.  The application uses a code first approach, and should create the database when the first transaction is attempted against the database.  If the database is not created, verify that the application has permissions for your particular database and your unique setup.
</strong>





